body {
  background: #fff;
}

h1 { 
  color: rgb(0, 105, 166);
  border-bottom: 1px solid #eee;
  font-size: 36px;
  padding-bottom: 6px;
  }

h2 { 
  color: rgb(100,100,100);
  font-size: 30px;
  }

h3 { font-size: 24px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 18px;}

.wrapper {
  margin: 0 5em;
  }

.main {
  float: left;
  margin-right: 1em;
  width: 45%;
  }

footer { clear: left; text-align: center; }

.merriweather {
  font-family: 'Merriweather', serif;
  }

.lato {
  font-family: 'Lato', sans-serif;
  }

/* media queries */
@media (max-width: 400px) {

  .main {
    float: none;
    margin-right: 0;
    width: 95%;
  }
}
